body{
   
    background-image: url("https://i.gifer.com/VJi.gif");
    background-size: 100% 100vh;
    position: relative;
   
  
}

.blur{
    background-color: rgba(21, 12, 99, 0.11);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    position: absolute;
   
}
nav{
    width: 100%;
    text-align: center;
}

.menu li{ 
    list-style: none;
    font-family: "Cuprum", sans-serif;
    margin: auto 40px;
    font-size: 1.5em;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:  20px auto;
}

a {
    color: lightgray;
    text-decoration: none;
    transition: color 2s;
}

a:hover{

    color:rgba(0, 255, 255, 1);
    font-size:1.2em;
}

.site-title,
.site-subtitle{
    color: whitesmoke;
    text-decoration: wavy;
    margin: 20px;
    text-align: center;
    text-shadow: 2px 0 3px rgba(20, 166, 250, 0.637);
}

.site-title{
    font-family: "Cuprum", sans-serif;
    font-weight: bolder;
   
}
.site-subtitle{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: italic;
}